<div class='container-plant'>
  <div class="container-in-block">
    <h1><%= @plant.number %> - <%= @plant.nom_scientifique %></h1>
    <h2><%= @result[0].especie %></h2>
    <p>
      <h4>Caracteristicas gerais</h4>
      <p><%= @content[0].caracteristicas %></p>
      <h4>Usos</h4>
      <p><%= @content[0].usos %></p>
      <a><%= link_to "Télécharger le fichier PDF", plantcards_url(@plantcard) %></a>
    </p>
  </div>
</div>
