<div class='container-plant'>
  <div class="container-in-block">
    <h1><%= @plant.number %> - <%= @plant.nom_scientifique %></h1>
    <h2><%= @seed %> - <%= @result[0].especie %></h2>
    <p>
      <a><%= @content[0].caracteristicas %></a>
      <a><%= @content[0].usos %></a>
      <a><%= link_to "Télécharger le fichier PDF", plantcards_url(@plantcard) %></a>
    </p>
  </div>
</div>
