<p>
  <%= @tipos.count  %> especies
  <%= @plants.count %> plantas
  <%= @symptoms.count %> sintomas
</p>
<a>
Chaque plante a des vertus qui peuvent calmer, guérir et
soigner de nombreux symptômes. Ce site recense <%= @tipos.count  %> espèces des <%= @plants.count %>
plantes médicinales du Brésil, agissant sur <%= @symptoms.count %> symptômes.
</a>
<div class='container-home'>
  <h1>Especies</h1>
  <% @tipos.each do |especie| %>
  <%= link_to especie.especie, tipo_path(especie) %>
  <% end %>
</div>
<div class='container-home'>
  <h1>Plantas</h1>
  <% @plants.each do |plant| %>
  <%= link_to plant.nom_scientifique, plant_path(plant) %>
  <% end %>
</div>
<div class='container-home'>
 <h1>Sintomas</h1>
  <% @symptoms.each do |symptom| %>
  <%= link_to symptom.nom, symptom_path(symptom) %>
  <% end %>
</div>
