<div class="container-plant">
  <div class="container-in-block">
  <h1><%= @plant_number %> - <%= @plant.nom_scientifique %></h1>
  <h4>Especie</h4>
  <p><%= @result[0].especie %></p>
  <h4>Nomes Populares</h4>
  <p><%= @plant.noms_populaires %></p>
    <h2>Sintomas</h2>
    <div class="sintomas-columns">
      <% @index.each do |i| %>
        <% if i.plants.split.include?(@plant_number) == true %>
        <%= link_to i.nom, symptom_path(i.id) %>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="container-form">
      <h3>Téléchargez la fiche de cette plante</h3>
    <form>
    <div class="form-group">
      <label for="exampleInputPassword1">Nome</label>
      <input type="nom" class="form-control" id="exampleInputNom1" placeholder="Nom">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <br><small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
      <% if user_signed_in? %>
        <button type="submit" class="btn btn-primary">
          <%= link_to 'See more', plantcard_path(@plant.id) %>
        </button>
        <% else %>
        <button type="submit" class="btn btn-primary">
          <%= link_to 'Acesso ao nosso guia das plantas medicinais', new_user_registration_path %>
        </button>
      <% end %>
    </form>
  </div>
</div>
