<h1><%= @plant.nom_scientifique %></h1>
<h2><%= @plant_number %></h2>
<a><%= @plant.noms_populaires %></a>
<h1>Sintomas</h1>
<p>
  <% @index.each do |i| %>
  <% if i.plants.split.include?(@plant_number) == true %>
      <p><%= link_to i.nom, symptom_path(i.id) %><p>
      <% else %>
    <% end %>
  <% end %>
</p>

<%= link_to "voir plus sur la plante", plant_url(@plant.id) %>

