<!DOCTYPE html>
<html>
  <head>
    <title>Brasilmedicinalplants</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= link_to "Home", root_path %>
    <%= link_to "Sintomas", symptoms_path %>
    <%= link_to "Plantas", plants_path %>
    <%= link_to "Especies", tipos_path %>
    <%= link_to "Usos", tratamentos_path %>
      <% if user_signed_in? %>
      <p><%= "You are online" %></p>
      <% else %>
      <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= link_to "Home", root_path %>
    <%= link_to "Usos", tratamentos_path %>
    <%= link_to "Contact", contact_url %>
    <%= link_to "About", about_url %>
    <p>
      A SABER:
      Não use plantas sem saber como: faça o download do nosso guia de
      plantas medicinais do Brasil.
      Tome cuidado para descobrir qual parte da planta será usada,
      e descubra as receitas em nosso guia de plantas medicinais do Brasil.
    </p>
  </body>
</html>
